body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #343a40;
    padding: 20px 0;
    color: white;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Background Image */
.background-image {
    height: 350px;
    background: url('pic2.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
}

/* Marquee Section */
.marquee-section {
    background-color: #e9ecef;
    padding: 10px 0;
    margin-top: 20px;
}

.marquee-text {
    font-size: 20px;
    color: #343a40;
    font-weight: bold;
}

/* Content Section */
.content {
    background-color: grey;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-tool, .key-features {
    width: 35%;
    padding: 20px;
    border-radius: 8px;
    color: white;
}

h2 {
    color: white;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgba(32, 136, 122, 0.777);
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Actions */
.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.login-submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.login-submit:hover {
    background-color: #0056b3;
}

/* Media Container */
.media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Video and Image Container */
.media-container video,
.media-container img {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 300px;
}

/* Win Section */
section {
    padding: 20px 0;
    background-color: #F5DEB3;
}

.win {
    background-color: #FFF5EE;
    border-radius: 50px 0 50px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.win h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #8B4513;
}

.win p {
    font-size: 16px;
    line-height: 1.6;
    color: #5F4B32;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .win {
        padding: 15px;
    }

    .win h3 {
        font-size: 20px;
    }

    .win p {
        font-size: 14px;
    }
}

/* Themes Section */
.themes-section {
    padding: 40px 0;
    background-color: #F0F0F0;
    text-align: center;
}

.themes-section h2 {
    font-size: 38px;
    color: #ffa913;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.themes-section h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 40px;
}

.themes-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.theme-box {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    max-width: 30%;
    text-align: left;
    border: 2px solid orange;
}

.theme-box h4 {
    font-size: 22px;
    color: #007bff;
    margin-bottom: 15px;
}

.theme-box p {
    font-size: 20px;
    color: #666666;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .theme-box {
        max-width: 100%;
        margin: 10px 0;
    }
}

/* Buttons */
button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: darkorange;
}

/* Image Container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 200px;
    width: 200px;
    background-color: #f0f0f0;
    border: 2px solid black;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.circular-image {
    width: 130px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid orange;
}

.image-name {
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    color: black;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

/* General Styles for Input Fields */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#loginModal .modal-content form {
    display: flex;
    flex-direction: column;
}

#loginModal .modal-content label {
    margin-bottom: 5px;
}

#signupModal .modal-content form {
    display: flex;
    flex-direction: column;
}

#signupModal .modal-content label {
    margin-bottom: 5px;
}

.image-row {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;
}

.image-row .image-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.image-box {
    width: 130px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 5px solid orange;
    background-color: #fff;
    padding: 10px;
    flex-direction: column;
}

.circular-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.image-name {
    margin-top: 10px;
    font-size: 17px;
    color: black;
}
/*dropdown*/

#user-section {
    display: flex;
    align-items: center;
}

#user-icon {
    font-size: 24px;
    margin-right: 10px;
}

#username-display {
    font-size: 18px;
    margin-right: 20px;
}

#dropdown-menu {
    display: inline-block;
    position: relative;
}

#dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    left: 0;
}

#dropdown-menu li {
    margin-right: 20px;
}

#dropdown-menu li:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

#user-section > span {
    margin-left: auto;
}



