body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #343a40;
    padding: 20px 0;
    color: white;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Background Image */
.background-image {
    height: 350px;
    background: url('pic2.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 20px;
}

/* Marquee Section */
.marquee-section {
    background-color: #e9ecef;
    padding: 10px 0;
    margin-top: 20px;
}

.marquee-text {
    font-size: 20px;
    color: #343a40;
    font-weight: bold;
}

/* Content Section */
.content {
    background-color: grey;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-tool, .key-features {
    width: 35%;
    padding: 20px;
    border-radius: 8px;
    color: white;
}

h2 {
    color: white;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: rgba(32, 136, 122, 0.777);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
    border-radius: 8px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Actions */
.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.login-submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.login-submit:hover {
    background-color: #0056b3;
}

/* Media Container */
.media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Video and Image Container */
.media-container video,
.media-container img {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 300px;
}

/* Win Section */
section {
    padding: 20px 0;
    background-color: #F5DEB3;
}

.win {
    background-color: #FFF5EE; /* Light cream color */
    border-radius: 50px 0 50px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.win h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #8B4513; /* Darker shade */
}

.win p {
    font-size: 16px;
    line-height: 1.6;
    color: #5F4B32; /* Slightly darker brown */
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .win {
        padding: 15px;
    }

    .win h3 {
        font-size: 20px;
    }

    .win p {
        font-size: 14px;
    }
}

/* Themes Section */
.themes-section {
    padding: 40px 0;
    background-color: #F0F0F0; /* Light grey background */
    text-align: center;
}

.themes-section h2 {
    font-size: 38px;
    color: #ffa913;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.themes-section h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 40px;
}

.themes-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.theme-box {
    background-color: whitesmoke; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    max-width: 30%;
    text-align: left;
    border: 2px solid orange;
}

.theme-box h4 {
    font-size: 22px;
    color: #007bff; /* Primary color */
    margin-bottom: 15px;
}

.theme-box p {
    font-size: 20px;
    color: #666666; /* Grey text color */
    line-height: 1.6;
}

@media (max-width: 768px) {
    .theme-box {
        max-width: 100%;
        margin: 10px 0;
    }
}

/* Buttons */
button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: darkorange;
}


/* Image Container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add some padding inside the container */
    height: 200px; /* Height of the container */
    width: 200px; /* Width of the container */
    background-color: #f0f0f0; /* Light grey background */
    border: 2px solid black; /* Black border around the container */
    margin: 0 auto; /* Center the container */
    border-radius: 10px; /* Rounded corners for the container */
    overflow: hidden; /* Hide overflow of the image */
    position: relative;/* Hide any overflow */
    
}
.circular-image {
    width: 130px; /* Make image width 100% of container */
    height: 150px; /* Make image height 100% of container */
    object-fit: cover; /* Ensures the image maintains aspect ratio */
    border-radius: 50%;
    border: 5px solid orange;
}
.image-name {
    margin-top: 10px; /* Space between image and name */
    text-align: center; /* Center the name */
    font-size: 17px; /* Font size for the name */
    color: black; /* Text color */
}

.image-item {
    display: flex;
    flex-direction: column; /* Stack image and name vertically */
    align-items: center;
    font-weight: bold;
}
/* General Styles for Input Fields */
input[type="text"], input[type="password"] {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Padding inside the input fields */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin-bottom: 10px; /* Space below each input field */
}


#loginModal .modal-content form {
    display: flex;
    flex-direction: column;
}

#loginModal .modal-content label {
    margin-bottom: 5px;
}

#signupModal .modal-content form {
    display: flex;
    flex-direction: column;
}

#signupModal .modal-content label {
    margin-bottom: 5px; 
}

.image-row {
    display: flex;
    justify-content: space-between;
    padding: 0 20px; /* Padding around the row */
    margin-bottom: 20px; /* Space between rows */
}

.image-row .image-item {
    flex: 1;
    margin: 0 10px; /* Space between images in the row */
    text-align: center;
}

.image-box {
    width: 130px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 5px solid orange; /* Border color */
    background-color: #fff; /* Background color of the box */
    padding: 10px;
    flex-direction: column;
}

.circular-image {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    border-radius: 50%;
    object-fit: cover; /* Ensure the image maintains aspect ratio */
}

.image-name {
    margin-top: 10px;
    font-size: 17px;
    color: black;
}
